<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
        <td><p style="margin-top:10px"> Hi you have been set <%= @action %> by the user <%= @user %>  </p></td>
  </body>
</html>
